configuration {
	modes: "drun";
	font: "CaskaydiaMono Nerd Font 15";
	location: 0;
	fixed-num-lines: true;
	show-icons: true;
	kb-cancel: "Escape";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "theme"
