configuration {
	modes: "drun";
	font: "CaskaydiaMono Nerd Font 17";
	location: 0;
	fixed-num-lines: false;
	show-icons: true;
	kb-cancel: "Escape,Control+g,Control+bracketleft,MousePrimary";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "theme"
