* {
	bg:          #0a0a0ae6;
	fg:          #fafafa;
	bg-primary:  #e5e5e5;
	fg-primary:  #171717;
	bg-muted:    #262626e6;
	fg-muted:    #a1a1a1;
	border:      #ffffff1a;
}

@import "./themes/template.rasi"
