/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #F5F5F5;
    bg1:    #FAFAFB;
    bg2:    #E5E5E5;
    bg3:    #D4D4D4;

    fg0:    #0A0A0A;
    fg2:    #737373;
    fg3:    #D4D4D4;
}

@import "./template.rasi"
